/* body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-item2s: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
} */

.container2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    padding: 50px 18%;
}

.item2 {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.item2 img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.item2 p {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}
